################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2_Terminal_Hacker/v15/Server/sqlite3
/.vs/2_Terminal_Hacker/v15/.suo
/Temp
